<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Kunnen we ff paffen?{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="icon" href="{{ app.request.baseUrl }}/img/cigaret.gif" type="image/gif" >

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/css/style.css">
        {% endblock %}
        {% endblock %}
    </head>
    <body>


    {% block body %}
    <div class="container-narrow">

        {% block header %}
        <div class="masthead">
        <h3 class="muted">ff paffen?</h3>
      </div>
        {% endblock %}

        {% block main %}
        <div class="jumbotron">
        <h1>Kunnen we even buiten roken in <span id="paffen-city">{{ location.getCity() }}</span></h1>
        <p class="lead">Is het weer mooi genoeg om even te gaan roken?</p>
        {% if ffpaffen %}
        <p id="paffen-btn" class="btn btn-large btn-success">JA, natuurlijk!</p>
        {% else %}
        <p id="paffen-btn" class="btn btn-large btn-inverse">Nee nu ff niet</p>
        {% endif %}
            <div id="geoinfo">
                <p id="geoinfoholder"></p>
                <div id="mapholder"></div>
            </div>
      </div>

      <hr>
        {% endblock %}

        {% block footer %}
        <div class="footer">
        <p>&copy; Crazy Awesome Company 2013</p>
      </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block javascripts %}
    <script>
    var ffpaffenConfig = {"baseUrl": '{{ app.request.baseUrl }}'};
    </script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{{ app.request.baseUrl }}/js/script.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-26844240-3', 'ffpaffen.nl');
      ga('send', 'pageview');

    </script>
    {% endblock %}
    </body>
</html>
